<div id="header">
  @Html.ActionLink("Home", "Index", "Home", null, new { @class="btn title-button btn-info"})
  @Html.ActionLink("About", "Details", "Home", null, new { @class="btn title-button btn-default"})
  @Html.ActionLink("CouchPotato Exercise Database", "Index", "Workouts", null, new { @class="btn title-button btn-default"})
  @Html.ActionLink("My Dashboard", "Index", "Account", null, new { @class="btn title-button btn-success"})
  @if (User.Identity.IsAuthenticated)
  {
  @Html.ActionLink("Signed in as: " + @User.Identity.Name, "Index", "Account", null, new { @class="btn title-button btn-info"})
  }
</div>