@{
  Layout = "_Layout";
}

@if (User.Identity.IsAuthenticated)
{
  <h2 class="text-center">Your Dashboard</h2>
<img class="avatar" src="https://i.pinimg.com/originals/31/b6/e5/31b6e5b55e936f810f3df2fe470bf859.png" width="120px">
<h2 class="signIn">You are signed in as @User.Identity.Name</h2>
<hr />

    <div class="row">
      <div class="col-md-4">
        <p class="myLink">@Html.ActionLink("Add Custom Exercise", "AddExercise", "Workouts", null, new { @class="btn title-button btn-info"})</p>
      </div>
      <div class="col-md-4">
            @using (Html.BeginForm("LogOff", "Account"))
    {
        <input type="submit" class="btn btn-default" value="Log out" />
    }
      </div>
      <div class="col-md-4">
        @Html.ActionLink("Beginner", "EasyWorkout", "Workouts", null, new { @class="btn title-button btn-success"})
        @Html.ActionLink("Intermediate", "MediumWorkout", "Workouts", null, new { @class="btn title-button btn-success"})
        @Html.ActionLink("Super Fit", "HardWorkout", "Workouts", null, new { @class="btn title-button btn-success"})
        @Html.ActionLink("Abs", "AbsWorkout", "Workouts", null, new { @class="btn title-button btn-success"})
        @Html.ActionLink("Arms", "ArmWorkout", "Workouts", null, new { @class="btn title-button btn-success"})
        @Html.ActionLink("Legs & Glutes", "LegWorkout", "Workouts", null, new { @class="btn title-button btn-success"})
        @Html.ActionLink("Cardio/HIIT", "CardioWorkout", "Workouts", null, new { @class="btn title-button btn-success"})
      </div>
    </div>
    
}
else
{
  <div class="row text-center">
    <div class="col-md-6">
      <p class="myLink">@Html.ActionLink("Register", "Register", null, null, new { @class="btn title-button btn-info"})</p>
    </div>
    <div class="col-md-6">
      <p class="myLink">@Html.ActionLink("Log in", "Login", null, null, new { @class="btn title-button btn-success"})</p>
    </div>
  </div>
}

