@{
  Layout = "_Layout";
}

@using FitnessClient.ViewModels

@model RegisterViewModel

<h2 class="text-center">Create a new account</h2>
<hr />

@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
  <table>
    <tr>
      <td>@Html.LabelFor(user => user.Email)</td>
      <td>@Html.TextBoxFor(user=> user.Email)</td>
    </tr><br>
    <tr>
      <td>@Html.LabelFor(user=> user.Password)</td>
      <td>@Html.PasswordFor(user=> user.Password)</td>
    </tr><br>
    <tr>
      <td>@Html.LabelFor(user=> user.ConfirmPassword)</td>
      <td>@Html.PasswordFor(user=> user.ConfirmPassword)</td>
    </tr><br>
  </table>
  <br>
    <input type="submit" value="Register" class="btn btn-info"/>
}