@{
  Layout = "_Layout";
}

@using FitnessClient.Models;

<h2 class="text-center">Our Exercises</h2>

<ol>
@foreach (Exercise exercise in Model)
{
    <ul>
        @* <li>ID: @exercise.ExerciseId</li> *@
        <li><strong> @exercise.Name</strong></li>
        <li>Difficulty: @exercise.Difficulty</li>
        @* <li>Type: @exercise.Type</li> *@
        <li>Targets: @exercise.Target</li>
        <li>Calories: @exercise.Calories</li>
    </ul>
    @* <a href="/Exercises/Details/@(exercise.ExerciseId)"><p>View Details</p></a> *@
    <br>
}
</ol>